body {
  font-size: 80%;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.error-message {
  background: #fee;
  border: 1px solid #c00;
  padding: 10px;
  margin: 10px;
  color: #c00;
}

#timestamp {
  margin: 1em;
}

#mapid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#controls {
  position: absolute;
  top: 10px;
  z-index: 1000;
  display: inline-block;
  background-color: white;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #888;
}

.back_button,
.button {
  background-color: #555;
  color: #fff;
  border: 1px solid #222;
  border-radius: 5px;
  box-shadow: #666666 2px 2px 2px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.back_button:active,
.button:active {
  box-shadow: none;
}

#play {
  width: 3rem;
}

input[type="radio"] {
  width: 1em;
  height: 1em;
  margin: 5px;
}

#time {
  margin: 5px;
  font-weight: bold;
  font-size: large;
}
